body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", "Helvetica Neue", Helvetica, serif;
  background-color: #fafafa;
  color: #333;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__nav {
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;
  height: 40px;
  background-color: #ffffff;
}

.app__nav-links {
  position: absolute;
  top: 30px;
  left: 20px;
}

.app__nav-link {
  margin-right: 15px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  background-color: #C90900;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.app__nav-link:hover {
  text-decoration: none;
  background-color: #000;
}

.app__button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #C90900;
  border: none;
  border-radius: 0;
  cursor: pointer;
  margin-bottom: 20px;
}

.app__button:hover {
  background-color: #000;
}

.app__content {
  text-align: center;
  margin-bottom: 20px;
}

.app__welcome {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.app__image {
  max-width: 100%;
  height: auto;
}

.app__user-info {
  text-align: center;
}

.app__user-name, .app__user-access {
  margin: 10px 0;
  font-weight: 400;
}

.app__app-list {
  list-style: none;
  padding: 0;
}

.app__app-list-item {
  margin: 5px 0;
}

.app__initializing, .app__redirecting {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
